<!DOCTYPE html>
<html>
    <head>
        <title>Screen3</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static',filename='css/GUI3.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/New.css')}}">
        <script src="jquery.js"></script>
        <link rel="stylesheet" href="jquery-ui.css">
        <script src="jquery-ui.js"></script>

        
    </head>
    <body>
        <section class="title">
            
            <img src="https://drive.google.com/uc?export=view&id=17YXzqgFWRYpRz6FlHDrT8rNMIk2KcuAm" alt="Emo-Rabbit" id="logo">
            <h1 style="padding-left: 120px;">Emo-Rabbit</h1>
        </section>
        <br>
        
        <section>
            <form action = "{{url_for('get_summary')}}" method="POST">
            <section class="review">
                <h2>Submit review</h2>
                <textarea rows="25" cols="70" id="submit" name="input_text" required>{{original_text}}</textarea>
                <br><br>
                <button id="summarize-button" type="submit">Summarize</button>
                <button id="reset-button" type="reset">Reset</button>
            </section>
            <section class="review">
                <h2>Summarized review</h2>
                <textarea rows="25" cols="70" id="summary" name="result">{{result}}</textarea>
                <br>
                
            </section>
            </form>
            <section class="navbar">
                <ul>
                    <img src="https://drive.google.com/uc?export=view&id=1O6cHz9nUOeSziPbX0jX7ktSaWrlk9g7Q" class="icons" height="80px" width="80px" style="border-radius:50%;">
                    <br>
                    <li>Home</li>
                    <br>
                    <a href="{{ url_for('home') }}"><img src="https://drive.google.com/uc?export=view&id=1ohlHsAQpGUonn0-GLgeCYWTBbcDeJLTr" class="icons" height="80px" width="80px" style="border-radius:50%;"></a></li>
                    <br>
                    <li>Emo-Detector</li>
                    <a href="{{ url_for('SignUp') }}"><img src="https://drive.google.com/uc?export=view&id=1DMEEEV2RzcM9f0OnIs8zmm6PecWsEEJ5" class="icons" height="80px" width="80px" style="border-radius:50%;"></a></li>
                    <br>
                    <li>Database</li>
                    <br>
                    <a href="{{ url_for('AboutUs') }}"><img src="https://drive.google.com/uc?export=view&id=1Wpqg0vwBa7a2JBfKx0s47D49637xQG02" class="icons" height="80px" width="80px" style="border-radius:50%;"></a></li>
                    <br>
                    <li>About Us</li>
                </ul>
            </section>
        </section>
        <section class="subtitle">
            <h1>Summarize your review with just click of a button</h1>
            <h3>Emo-Rabbit summarizer can be used to summarize hotel reviews and detect the review author's emotions.
                Our website uses Natural Language Processing toolkits to locate important information while maintaining the original context.</h3>
        </section>
        <br><br>
        <div class="socialmedia">
            <p>How can we help?</p>
            <p>+1-855-610-TREE</p>
            <p>Call Us. Its toll free</p>
            <img src="https://drive.google.com/uc?export=view&id=1JM289QevD4BvMLAOq8oGf_kNUw94ro2T" alt="Instagram" height="40" width="40" style="border-radius: 50%; padding-right: 15px;">
        	 <img src="https://drive.google.com/uc?export=view&id=1tQhyGo5C9exLz1KnH4_eRXqIETJ2fujF" alt="Facebook" height="40" width="40" style="border-radius: 50%; padding-right: 15px;">
        	 <img  src="https://drive.google.com/uc?export=view&id=13WFGCechX2DpqxLY0ojtMPs4pFUBSVzr" alt="Twitter" height="40" width="40" style="border-radius: 50%; padding-right: 15px;">
        </div> 

        <script>
            $(document).ready(function(){
                $("#summarize-button").button();
                $("#reset-button").button();
                
            });
        </script>
    </body>
</html>