{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{url_for('static',filename='/static/css/login_page.css')}}">
 </head>
    <h1>Login</h1>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br><br>
        <button type="submit">Login</button>
    </form>
{% endblock %}